*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-size: var(--font-size--base);
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight--regular);
}

a,
a:visited,
a:focus,
a:active,
a:hover{
  outline: 0 none !important;
}
