.slide-down-enter-active, .slide-down-leave-active {
  transition: transform 0.25s var(--easing--outs), opacity 0.25s var(--easing--outs);
  transform: translateY(0);
}

.slide-down-enter, .slide-down-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

.scale-top-left-enter-active, .scale-top-left-leave-active {
  transform-origin: top left;
  transition: transform var(--easing--outs), opacity var(--easing--outs);
  transition-duration: 0.1s;
  transition-delay: 0.13s;
  transform: scale(1, 1);
}

.scale-top-left-enter, .scale-top-left-leave-to {
  transform-origin: top left;
  transform: scale(0.1, 0.1);
  transition-duration: 0.35s;
  transition-delay: 0s;
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s var(--easing--outs);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.scale-enter-active, .scale-leave-active {
  transition: transform 0.3s var(--easing--outs), opacity 0.3s var(--easing--outs);
  transform: scale(1);
}

.scale-enter, .scale-leave-to {
  transform: scale(0.1);
  opacity: 0;
}
