code.tag {
  color: var(--color--secondary);/*#ee7600;*/
  padding: 2px 6px;
  @mixin elevation 1;
  @mixin font-size 12;
}

html {
  font-size: 18px;
}

code {
  margin: 0;
  padding: 20px;
  background-color: transparent;
}

pre {
  margin: 0;
  background-color: transparent;
  @mixin font-size 14
}
