:root {
  --fx-tabs--background-color: transparent;
  --fx-tabs--stroke-color: var(--color--primary);

  --fx-select--height: 36px;

  --fx-badge--height: 16px;

  --fx-tooltip--narrow: 100px;
  --fx-tooltip--wide: 300px;
}
